@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');


/*---------------- 
top section start 
-----------------*/

.influencer{
    margin: 0 130px;
    display: flex;
    flex-wrap: wrap;
    
}
.influencer-title{
    
    margin: 80px 110px 0 130px ;
    font-family: 'Open Sans', sans-serif;
}
.influ-headding{
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
    color: #3A3A3A;
}
.starts-journey{
    
    width: 450px;
    margin-top: 140px;
    
}
.influ-btn{
    height: 30px;
    width: 150px;
    padding-right: 10px;
    border-radius: 20px;
    color: white;
    font-weight: 700;
    background-color: #E02C6D;
    border: transparent;
}

.influ-img img{
    margin-top: -40px;
    margin-left: 100px;
    padding-bottom: 50px;
    height: 350px;
}

.influ-btn .fa-arrow-right{
    padding-left: 4px;
}


/*---------------- 
top section end 
-----------------*/

/*---------------- 
main section starts here 
-----------------*/

.collection{
    width: 20%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 15%;
    column-gap: 20px;
    row-gap: 20px;
}

.thumbnail-title{
    text-align: center;
    font-size: 25px;
    font-family: 'Open Sans', sans-serif;
    color: #3A3A3A;
    margin: 30px 0;
}

.thumbnail{
    border-radius: 4px;
    box-shadow: 1px 1px 4px black;
    width: 250px;
    padding: 10px;
}
.thumbnail-img img{
    width: 250px;
}


.thumbnail-info h2{
    font-size: 30px;
    margin-bottom: -15px;
    font-family: 'Open Sans', sans-serif;
}
.thumbnail-info h3{
    font-size: 25px;
    margin-bottom: auto;
    font-family: 'Open Sans', sans-serif;
}
.icon{
    color: orange;
    font-size: 10px;
}
.rating{
    padding-left: 10px;
    color: gray;
    font-weight: 700;
    font-size: 15px;

}
.desc{
    color: #5E6366;
}
section .more-btn{
    background-color: transparent;
    border: none;
    color: #E02C6D;
    font-weight: 700;
    float: right;
    margin-top: 20px;
    margin-right: 17%;
}

/*---------------- 
main section ends here 
-----------------*/


/*--------------------------- 
optional section starts here 
---------------------------*/

.optional{
    width: 80%;
    display: flex;
    margin-top: 150px;
    
}
.optional-img img{
    height: 270px;
    width: auto;
}
.optional-info h1{
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
}
.optional-info{
    padding-top: 40px;
    margin-left: 50px;
    width: 470px;
}

.optional-info p{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: #6C6C6C;
}

.optional-info button{
    height: 35px;
    width: 110px;
    border: none;
    background-color: #E02C6D;
    color: #ffffff;
}


/*--------------------------- 
optional section ends here 
---------------------------*/


/*--------------------------- 
footer section starts here 
---------------------------*/

footer{
    text-align: center;
    color: white;
    background-color: #0A0826;
    margin-top:80px;
    padding: 50px 0;
    height: 100px;
}
footer h1{
    font-size: 22px;
    font-family: 'Open Sans', sans-serif;
    margin: 5px;

}
footer p{
    font-size: 15px;
    margin: auto;
}

.social i{
    margin: 20px 5px;
    
}




